.cards-container {
	display: grid;
	width: 100%;
	max-width: 100%;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 2rem;
	padding: 2rem;
	overflow-y: hidden;
}

.card-container {
	display: grid;
	grid-template-rows: 335px 1fr;
	width: 100%; /* 부모 요소의 너비에 맞추기 */
	max-width: 300px; /* 최대 너비를 300px로 설정 */
	height: 500px;
	cursor: pointer;
	border-radius: 10px;
	color: black;
	box-shadow: -10px -10px 30px 4px rgba(0, 0, 0, 0.1),
		10px 10px 30px 4px rgba(45, 78, 255, 0.15);
}

.card-img {
	width: 100%;
	height: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.card-body {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
	padding: 1rem;
}

.card-title {
	font-size: 1.5rem;
	font-weight: bolder;
}

.card-genres {
	display: flex;
	gap: 0.5rem;
}

.card-genre {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--border-color);
	background-color: var(--genre-color);
	padding: 0.2rem 0.5rem;
	border-radius: 25px;
	color: white;
	font-size: 12px;
	font-weight: bold;
}

.card-score {
	display: flex;
	justify-content: left;
	align-items: center;
	font-size: 1.2rem;
	font-weight: bold;
}

.card-score-field {
	margin-left: 5px;
}

.no-results {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100vw - 100%);
	height: 100%;
	font-size: 2rem;
	font-weight: bold;
	color: var(--genre-color);
}
