header {
	height: 100%;
	width: 100%;
	display: flex;
	position: sticky;
	top: 0;
	align-items: center;
	border-bottom: 1px solid var(--border-color);
	background-color: var(--hearder-background);
	justify-content: space-between;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

header img {
	margin: 0 20px;
	width: 300px;
	height: 40px;
}

header nav {
	display: flex;
	height: 100%;
}

header ul {
	height: 100%;
}

header ul li {
	margin: 0 2rem;
}

.btn-nav {
	border: none;
	background-color: var(--button-main-background);
	color: var(--button-main-text);
	font-size: 1rem;
}

.btn-nav:hover {
	cursor: pointer;
	color: var(--button-secondary-text);
}
