@import '/css/common.css'; /* 공통 스타일 */
@import '/css/search.css'; /* 검색 관련 스타일 */
@import '/css/cards.css'; /* 카드 관련 스타일 */
@import '/css/modal.css'; /* 모달 관련 스타일 */

main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	width: 100%;
	height: 100%;
}
